In [2]:
%load_ext lab_black
%cd ../../..

/home/shim/cev/dl/log-analytics

In [26]:
import torch
import numpy as np
import pandas as pd
import pickle
from tqdm import tqdm
from collections import defaultdict
import sys

In [4]:
distdeck = torch.load("results/distilbert-base-uncased/distilbert-base-uncased-focal-AdamW-lr2e-05-dsver5-os40_2-distdeck.pth")

In [5]:
distdeck["dist"].shape, distdeck["level"].shape

(torch.Size([1418916, 4]), torch.Size([1418916, 4]))

In [20]:
def policy(values_, tlevels):
    is_same = (tlevels == tlevels[0]).all()
    is_same2 = (tlevels[:2] == tlevels[0]).all()

    if is_same and tlevels[0] == 6:
        return 6 if values_[0] < 0.3 else 7  # TODO
    if is_same and tlevels[0] == 5:
        return 5 if values_[0] < 1.0 else 7
    if is_same and tlevels[0] == 4:
        return 4 if values_[0] < 0.3 else 7
    if is_same and tlevels[0] == 3:
        return 3 if values_[0] < 1.0 else 7
    if is_same and tlevels[0] == 2:
        return 2 if values_[0] < 0.3 else 7  # TODO
    if is_same and tlevels[0] == 1:
        return 1 if values_[0] < 0.18 else 7
    if is_same and tlevels[0] == 0:
        return 0 if values_[0] < 0.8 else 7

    # 섞인경우
    return tlevels[0].item() if values_[0] < 0.2 else 7

In [30]:
N = distdeck["dist"].size(0)
out_levels = []
with tqdm(total=N, ncols=100, file=sys.stdout) as t:
    for i in range(N):
        dists = distdeck["dist"][i]
        levels = distdeck["level"][i]

        out_level = policy(dists, levels)
        out_levels.append(out_level)

        t.update()

100%|███████████████████████████████████████████████████| 1418916/1418916 [02:31<00:00, 9336.10it/s]

In [31]:
out_levels = np.array(out_levels)

In [32]:
# 각 레벨별 개수
for i in range(8):
    cnt = sum(out_levels == i)
    print(i, ":", cnt, f"{cnt / len(out_levels)*100:.2f}%")

0 : 1001419 70.58%
1 : 396782 27.96%
2 : 33 0.00%
3 : 13018 0.92%
4 : 34 0.00%
5 : 6492 0.46%
6 : 25 0.00%
7 : 1113 0.08%

In [34]:
df = pd.read_csv("data/ori/train.csv")
train_levels = df.level.to_numpy()

# 각 레벨별 개수 (train 데이터)
for i in range(8):
    cnt = sum(train_levels == i)
    print(i, ":", cnt, f"{cnt / len(train_levels)*100:.2f}%")

0 : 334065 70.63%
1 : 132517 28.02%
2 : 12 0.00%
3 : 4141 0.88%
4 : 10 0.00%
5 : 2219 0.47%
6 : 8 0.00%
7 : 0 0.00%

In [38]:
out_ids = list(range(1000000, 1000000 + len(out_levels)))

In [40]:
out_df = pd.DataFrame({"id": out_ids, "level": out_levels})

In [41]:
out_df

              id  level
0        1000000      0
1        1000001      0
2        1000002      1
3        1000003      0
4        1000004      1
...          ...    ...
1418911  2418911      0
1418912  2418912      0
1418913  2418913      1
1418914  2418914      0
1418915  2418915      0

[1418916 rows x 2 columns]

In [42]:
out_df.to_csv(
    "results/distilbert-base-uncased/distilbert-base-uncased-focal-AdamW-lr2e-05-dsver5-os40_2-out_ver1.csv", index=False
)