In [1]:
%load_ext lab_black
%cd ../..

/home/shim/cev/dl/log-analytics

In [2]:
import numpy as np
import pandas as pd

In [53]:
csvs = [
    pd.read_csv("results/distilbert-base-uncased-ver7/distilbert-base-uncased-focal-AdamW-lr1e-05_1-ver4.csv"),
    pd.read_csv("results/distilbert-base-uncased-ver7/distilbert-base-uncased-focal-AdamW-lr1e-05-ver7-os10_3-out_ver2.csv"),
    pd.read_csv("results/distilbert-base-uncased-ver7/distilbert-base-uncased-focal-AdamW-lr1e-05_4-ver4.csv"),
    pd.read_csv("results/distilbert-base-uncased-ver7/distilbert-base-uncased-focal-AdamW-lr1e-05-ver7-os10_5-out_ver1.csv"),
    
    pd.read_csv("results/distilbert-base-uncased-ver8/distilbert-base-uncased-focal-AdamW-lr1e-05-ver8-os10_4-out_ver1.csv"),
    
]

In [46]:
levels = np.stack([csv.level.to_numpy() for csv in csvs])

In [48]:
N = len(main_csv)

In [57]:
(np.array([1, 2, 1]) == 1).all()

False

In [49]:
out_levels = []
for i in range(N):
    if levels[0, i] in [2, 4, 6]:
        out_levels.append(levels[0, i])
    elif (levels[:, i] == levels[0, i]).all():
        out_levels.append(levels[0, i])
    else:
        ll = [0 for _ in range(8)]
        for j in range(len(csvs)):
            ll[levels[j, i]] += 1
        if max(ll) == 1:
            out_levels.append(levels[0, i])
        else:
            out_levels.append(max(range(8), key=lambda i: ll[i]))

In [50]:
df = pd.DataFrame({"id": csv0.id.to_list(), "level": out_levels})

In [51]:
df

              id  level
0        1000000      0
1        1000001      0
2        1000002      1
3        1000003      0
4        1000004      1
...          ...    ...
1418911  2418911      0
1418912  2418912      0
1418913  2418913      1
1418914  2418914      0
1418915  2418915      0

[1418916 rows x 2 columns]

In [52]:
df.to_csv("results/ens-ver2.csv", index=False)

|version|note|score|
|---|---|---|
|1|7.3.3 + 7.4.4 + 8.4.1|0.9199602809|
|2|7.3.2 + 7.4.4 + 8.4.1|0.9208938205|
|3|7.3.2 + 7.4.4 + 8.4.1 + 7.1. + 7.5. |0.9208938205|